<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
        <div class="navbar-header col-xs-7 pull-left">
                <a class="navbar-brand pull-left" href="#">
                    Profile
                </a>
            </div>
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right" href="#">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
    </div>
</nav>


    <div class="container-fluid padding">
        <h1>Profile</h1>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="Alice">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Wonderland">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="#/user/{{model.user._id}}/website">Websites</a>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteUser(model.user._id)">Delete User</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right" href="#">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
    </div>
</nav>