<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <a class="glyphicon glyphicon-chevron-left navbar-brand pull-left" href="#/user/{{model.userId}}/website"></a>
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Websites</a>
            </div>
            <a href="#/user/{{model.userId}}/website/new" class="glyphicon glyphicon-plus pull-right navbar-brand"></a>
        </div>

        <div class="col-sm-8">
            <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left navbar-brand visible-xs"></a>
            <a ng-click="model.update(model.website)" class="glyphicon glyphicon-ok pull-right navbar-brand"></a>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin" href="#">Edit Website</a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li class="list-group-item borderless list-color">
                <div class="row">
                    <div class="col-xs-6">
                        Name
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right">Edit</span>
                    </div>
                </div>
            </li>
            <li ng-repeat="website in model.websites" class="list-group-item borderless list-color">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <div class="padding">
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div ng-show="model.message" class="alert alert-success" role="alert">
                {{model.message}}
            </div>

            <div class="form-group">
                <label for="website-name">Website Name</label>
                <input ng-model="model.website.name"
                       type="text"
                       placeholder="Name"
                       value="ToDoList"
                       class="form-control"
                       id="website-name"/>
            </div>
            <div class="form-group">
                <label for="website-description">Website Description</label>
                <textarea ng-model="model.website.description"
                          rows="3"
                          placeholder="Description"
                          class="form-control"
                          id="website-description"></textarea>
            </div>
            <a ng-click="model.update(model.website)" class="btn btn-primary btn-block">
                Update
            </a>
            <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block">
                Delete
            </a>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link pull-right" href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>