<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand glyphicon glyphicon-chevron-left">
            </a>
        </div>
        <div>
            <a class="navbar-brand">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="profile-block">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <ul class="list-group">
            <li class="list-group-item borderless list-color" ng-repeat="wType in model.widgetTypes track by $index">
                <a class="ng-click" ng-click="model.createWidget(wType.type)">{{ wType.name }}</a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand glyphicon glyphicon-user pull-right" href="#/user/{{model.userId}}">
        </a>
    </div>
</nav>