<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="form-text">Text</label>
    <input ng-model="model.widget.text" type="text" class="form-control" id="form-text" placeholder="Text">
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input ng-model="model.widget.url" type="text" class="form-control" id="url" placeholder="https://www.youtube.com/embed/IxGvm6btP1A">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input ng-model="model.widget.width" type="text" class="form-control" id="width" placeholder="100%">
  </div>
</form>

<a ng-click="model.deleteWidget()" class="btn btn-danger btn-block ng-click">Delete</a>