<form action="/api/upload"  method="post" enctype="multipart/form-data">
    <input  name="myFile"   type="file" class="form-control"/>
    <input  name="width"    value="{{model.widget.width}}" hidden/>
    <input  name="widgetId" value="{{model.widget._id}}" hidden/>
    <input  name="userId" value="{{model.userId}}" hidden/>
    <input  name="websiteId" value="{{model.websiteId}}" hidden/>
    <input  name="pageId" value="{{model.pageId}}" hidden/>
    <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block ng-click">Delete</a>
</form>