<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand glyphicon glyphicon-chevron-left" href="page-list.html">
            </a>
            <a href="#" class="navbar-brand">
                Pages
            </a>
            <a class="navbar-brand pull-right glyphicon glyphicon-ok" href="page-list.html">
            </a>
        </div>
    </div>
</nav>


<div class="col-sm-8">
        <div class="padding>
        <label for="Name">Name</label>
        <input placeholder="Name"
               class="form-control" id="Name"/>

        <label for="website-description">Title</label>
        <textarea placeholder="Description"
                  class="form-control"
                  rows="5"
                  id="website-description"></textarea>
        </div>

        <a class="btn btn-danger btn-block"
           href="website-list.html">Delete</a>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text col-xs-1 pull-right">
                <a class="navbar-link blue pull-right" href="profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>